@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/images/hot-spring1.jpg");
  background-size: cover;
  opacity: 0.3;
  height: 700px;

  pointer-events: none;
}
